In [19]:
#importing pandas
import pandas as pd
import numpy as np

In [20]:
#importing csv
poll = "Untitled Folder/election_data_1.csv"

In [21]:
poll_pd = pd.read_csv(poll)
poll_pd.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [22]:
#number of votes
poll_pd.count(axis=0, level=None, numeric_only=False)

Voter ID     803000
County       803000
Candidate    803000
dtype: int64

In [23]:
#complete list of candidates
poll_pd.Candidate.unique()

array(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype=object)

In [26]:
#number of votes for each candidate
poll_pd.groupby('Candidate').count()

           Voter ID  County
Candidate
Cordin        24090   24090
Seth          40150   40150
Torres       353320  353320
Vestal       385440  385440

In [39]:
#print percentages
24090/803000

0.03

In [54]:
Cordin = (24090/803000) * 100

In [55]:
print('Cordin','%', Cordin)

Cordin % 3.0

In [56]:
Seth = (40150/803000) * 100

In [57]:
print('Seth', '%', Seth )

Seth % 5.0

In [58]:
Torres = (353320/803000) * 100

In [59]:
print('Torres', '%', Torres)

Torres % 44.0

In [60]:
Vestal = (385440/803000) * 100

In [61]:
print('Vestal', '%', Vestal)

Vestal % 48.0

In [65]:
print("Winner :","Vestal", "%", Vestal)

Winner : Vestal % 48.0